/*font-family=pick font that is the most user friendly*/

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    text-align: center;
}

.initial {
    text-align: center;
}

.hidden {
    dislplay: none;
}

.wrapper {
    margin: 90px auto 0 auto;
    max-width: 700px;
}

.info {
    font-style: italic;
    color: black;
    font-size: 120%;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid rgb(red, green, blue)

}
.results {
    right: 30px;
    top: 30px;
    position: absolute;
}

.timer {
    left: 10px;
    top: 10px;
    position: absolute;
}

a {
color: black;
}

button {
    color: black;
    background-color: pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    cursor: pointer;
    font-size: 100%;

}

